// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.padding_right_40px {
	padding-right: 40px;
}

.like_h2 {
	font-size: 18px;
	font-weight: bold;
}

.like_h3 {
	font-size: 13px;
	font-weight: bold;
}