<div class="navbar">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Seite1", seite1_path %></li>
		<li><%= link_to "Seite2", seite2_path %></li>
		<li><%= link_to "Gallery", galleries_path %>
	</ul>
</div>